<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Main Page</h1>
<div><a th:href="@{/accounts/login}">로그인</a></div>
<div><a th:href="@{/accounts/bulk-register}">계정 벌크 생성</a></div>
<div><a th:href="@{/problems/register}">문제 등록</a></div>
<div><a th:href="@{/problems/list}">문제 목록</a></div>
<div><a th:href="@{/exams/register}">시험 등록</a></div>
<div><a th:href="@{/exams/list}">시험 목록</a></div>
<!--<div><a th:href="@{/receipts/list}">시험 접수</a></div>-->
<div><a th:href="@{/receipts/enter}">시험 입장</a></div>
<!--<div><a th:href="@{/accounts/register}">회원 가입</a></div>-->
</body>
</html>