<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>시험 등록</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>시험 등록 페이지</h1>
    <form id="form-register" th:action="@{/exams/register}" th:object="${exam}" th:method="POST">
        <div>
            <label th:for="title">시험 제목</label>
            <input th:field="*{title}" type="text">
        </div>
        <div>
            <label th:for="receiptIdleDate">시험 접수 대기 시간</label>
            <input th:field="*{receiptIdleDate}" type="datetime-local">
        </div>
        <div>
            <label th:for="startDate">시험 시작 시간</label>
            <input th:field="*{startDate}" type="datetime-local">
        </div>
        <div>
            <label th:for="endDate">시험 종료 시간</label>
            <input th:field="*{endDate}" type="datetime-local">
        </div>
        <div>
            <div>
                <label th:for="input-problemIds">포함 시킬 문제</label>
                <input id="input-problemIds" name="input-problemIds" type="text">
                <div id="hidden-problemIds">

                </div>
            </div>
        </div>
        <button id="btn-register" type="button">등록</button>
    </form>
    <script type="text/javascript">
        $("#btn-register").click(function(event){
            event.preventDefault();
            event.stopPropagation();
            const flatProblemIds = $("#input-problemIds").val();
            if(flatProblemIds){
                let idsArr = flatProblemIds.split(',');
                for(let i = 0; i < idsArr.length; i++){
                    const newInput = $('<input>', {
                        type: 'hidden',
                        value: idsArr[i],
                        name: "problemIds",
                    })
                    $("#hidden-problemIds").append(newInput);
                }
            }
            $("#form-register").submit();
        });
    </script>
</body>
</html>