<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>등록</title>
</head>
<body>
    <form th:action="@{/account/register}" method="POST">
        <div>
        <label for="email">이메일</label>
        <input id="email" name="email" type="email">
        </div>
        <div>
            <label for="realName">이름</label>
            <input id="realName" name="realName" type="text">
        </div>
        <div>
            <label for="phoneNumber">전화번호</label>
            <input id="phoneNumber" name="phoneNumber" type="text">
        </div>
        <button type="submit">전송</button>
    </form>
</body>
</html>