<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문제 목록</title>
</head>
<body>
<a th:href="@{/problems/register}">문제 등록</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>problemNumber</th>
        <th>title</th>
        <th>score</th>
        <th>type</th>
        <th>answer</th>
        <th>content</th>
    </tr>
    </thead>
    <tr th:each="problem, idx : ${problems}">
        <td>
            <p th:text="${problem.id}"></p>
        </td>
        <td>
            <p th:text="${problem.problemNumber}"></p>
        </td>
        <td>
            <p th:text="${problem.title}"></p>
        </td>
        <td>
            <p th:text="${problem.score}"></p>
        </td>
        <td>
            <p th:text="${problem.type}"></p>
        </td>
        <td>
            <p th:text="${problem.answer}"></p>
        </td>
        <td>
            <p th:text="${problem.content}"></p>
        </td>
    </tr>
</table>
<div th:if="${problems.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/problems/list(size=${problems.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==problems.number + 1} ? active"></a>
</div>
</body>
</html>